<!doctype html>
<html><!-- InstanceBegin template="/Templates/header-nav.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<title>The Record Book Contact</title>
	<style>
		.nav-bar{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}
		.nav-bar-item{
			float: left;
		}
		.nav-link{
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		.nav-link:hover{
			background-color: #111;
		}
		.header{
			background-color: #333;
			text-align: center;
			padding: 20px;
			margin-bottom: 0;
			color: white;
		}
	</style>
</head>

<body>
	<div>
	  <h2 class="header"> The Record Book </h2>
	</div>
	<div>
	  <ul class="nav-bar">
			<li class="nav-bar-item"> <a class="nav-link" href="home"> Home</a></li>
			<li class="nav-bar-item"> <a class="nav-link" href="history"> League History</a></li>
			<li class="nav-bar-item"> <a class="nav-link" href="contact"> Contact</a></li>
		</ul>
	</div>
	<div><!-- InstanceBeginEditable name="Body" -->
		<h2> Contact</h2>
		<p> With questions or content ideas contact us at:</p>
		<ul>
			<li>keenan@mckenziemail.com</li>
		</ul><!-- InstanceEndEditable -->

	</div>
</body>
<!-- InstanceEnd --></html>