<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>The Record Book Home</title>
	<style>
		.nav-bar{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}
		.nav-bar-item{
			float: left;
		}
		.nav-link{
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		.nav-link:hover{
			background-color: #111;
		}
		.header{
			background-color: #333;
			text-align: center;
			padding: 20px;
			margin-bottom: 0;
			color: white;
		}
	</style>
</head>

<body>
	<div>
		<h2 class="header"> The Record Book</h2>
	</div>
	<div>
		<ul class="nav-bar">
			<li class="nav-bar-item"> <a class="nav-link" href="home"> Home</a></li>
			<li class="nav-bar-item"> <a class="nav-link" href="history"> League History</a></li>
			<li class="nav-bar-item"> <a class="nav-link" href="contact"> Contact</a></li>
		</ul>
	</div>
	<div class="results-header">
		<h3> Alltime League History</h3>
	</div>
	<div id="box"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
<script type="mustache/x-temp" id="testTemp">
  {% raw %}
  <ul>
  {{#owners}}
    <div class="owner">
      <li> {{name}} </li>
        <ul>
          <li> Wins: {{wins}} </li>
          <li> Losses: {{losses}} </li>
          <li> Years Active: {{yearsActive}} </li>
          <li> {{championships}}x Champ </li>
        </ul
    </div>
  {{/owners}}
  </ul>
  {% endraw %}
</script>

<script type="text/javascript">
var testUrl = 'https://localhost:5000/espn/league-history?leagueId=1107328';
var currentUrl = window.location.href
var leagueIdIndex = currentUrl.indexOf("leagueId");
var leagueId = currentUrl.slice(leagueIdIndex+9);
var requestUrl = 'https://localhost:5000/espn/league-history?leagueId=' + leagueId;
$(function() {

  $.getJSON(requestUrl, function(result){
    var template = $('#testTemp').html();
    var html = Mustache.render(template, result);
    $('#box').html(html);
  });

});

</script>

</html>
